$color-primary: rgb(161, 43, 136);
$color-secondary:rgb(253, 252, 253);
@mixin button($pixel: 70%, $backgroundc: $color_primary, $colorletra: $color) {
    background: $backgroundc;
    box-shadow: 0 0 1px rgba(black, .25);
    border: 2px solid #7f7f7f;
    width: $pixel;
    text-align: center;
    justify-content: center;
    padding: 4%;
    border-radius: 20px;
    color:$colorletra;
    font-weight: bold;
    &:hover {
        background-color: $color_primary;
        color: black;
        cursor: pointer;

    }
}
@mixin h2Cards(){
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 2%;
    padding-top: 2%;
}
 
.active_button {
    background: $color-primary;
}