$color-primary: rgb(161, 43, 136);
$color-secondary:rgb(253, 252, 253);
@mixin button($pixel: 124px, $backgroundc: $color_primary, $colorletra: $color) {
    background: $backgroundc;
    box-shadow: 0 0 1px rgba(black, .25);
    border: 2px solid #7f7f7f;
    width: $pixel;
    text-align: center;
    justify-content: center;
    padding: 2%;
    border-radius: 22%;
    color:$colorletra;
    font-weight: bold;
    &:hover {
        background-color: $color_primary;
        color: black;
        cursor: pointer;

    }
}