@import "../GlobalStyled/globalStyled.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 100px;

    &__containerForm {
        padding: 5% 3% 2% 10%;
        width: 70%;
        display: flex;

        .planeImg {
            border-radius: 20px;
             width: 70%;
        }

        .form {
            // transform: translateX(-50%);
            // transform: translateY(30%);
            position: absolute;
            // top: 520px;
            // left: 330px;
            top: 15%;
            left: 10%;
            display: flex;
            gap: 3%;
            z-index: 4;
            padding: 1% 2%;
            border-radius: 5%;
            // width: 60%;
            // height: 70%;
            width: 25%;
            height: 30%;
            background-color: rgb(223, 221, 229);
            justify-content: stretch;

            legend {
                font-weight: bold;
                font-size: medium;
                width: 70%;
            }

            &__label {
                font-weight: lighter;
                font-size: x-small;
            }

            span {
                background-color: $color-primary;
            }

            &__selectVuelo {
                background-color: $color-secondary;
                border-radius: 10px;
                padding: 0.5%;
                width: 80%;
                display: flex;
                justify-content: space-around;

                span {
                    border-radius: 10px;
                    padding: 1.5%;
                    background-color: $color-secondary;
                    font-size: small;
                }

                span:hover {
                    cursor: pointer;
                }
            }

            &__selectCountry {
                width: 80%;
                // height: 20%;
                margin-top: 1%;


                .form__selectOrigin,
                .form__selectDestination {
                    width: 35%;
                    font-size: small;
                    border-radius: 10px;
                    padding: 1%;
                }

                .form__selectDestination {
                    width: 60%;
                }
            }

            &__inputsDate {
                width: 80%;
                margin-top: 1%;

                .form__inputSalida,
                .form__inputRegreso {
                    background-color: $color-secondary;
                    font-size: small;
                }
            }
            &__lastRow{
                width: 90%;
                margin-top: 1%;
            }
            &__selectPassengers {
                width: 40%;
                font-size: small;
                border-radius: 10px;
                padding: 1%;

            }
            &__discount{
                width: 50%;
                height: 2%;
                font-size: xx-small;
                border-radius: 10px;
                border: 5px solid grey;
            }

            &__button {
                margin-top: 1%;
                background-color: $color-primary;
                @include button ($backgroundc: $color-primary, $colorletra: white, $pixel: 80%)
            }

        }

    }

    &__pay {
        width: 66%;
        gap: 5%;

        h2 {
            @include h2Cards();
        }

        &__container {
            display: flex;
            justify-content: flex-start;
            gap: 35%;
            border-radius: 15px;
            box-shadow: 0.5px 2px 5px 5px rgb(238, 233, 233);
            padding: 1.5%;
            align-items: center;

            &__cards {
                gap: 10%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 1%;

                img {
                    width: 25%;
                }

                span {
                    width: 110%;
                    font-size: small;
                    font-weight: lighter;
                    padding-bottom: 0.4%;
                }
            }
        }
    }

    &__containerCards {
        display: flex;
        width: 66%;
        justify-content: space-around;

        h2 {
            @include h2Cards();
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 85%;
            padding: 4% 2% 2% 2%;

            img {
                // width: 80%;
                width: 3em;
            }

            .cardTittle {
                font-size: small;
            }

            .cardP {
                font-size: small;
                font-weight: lighter;
                text-align: center;
            }

        }
    }

}