@import "../GlobalStyled/globalStyled.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    &__containerForm {
        padding: 10% 5% 2% 15%;
        width: 70%;
        display: flex;
        //    background-color: rgb(13, 0, 128);
        // position: absolute;

        figure {
            // height: 600px;
            // background-color: aqua;

        }

        figure img {
            // //         // position: absolute
            border-radius: 5%;
            //         height: 100%;
            //         // justify-content: flex-end;
            //         // display: flex;
            //         // background-color: black;
        }


        .form {
            // transform: translateX(-300px);
            transform: translateY(-60%);
            // position: absolute;
            // top: 520px;
            // left: 330px;
            display: flex;
            gap: 3%;
            z-index: 3000;
            padding: 0.5% 2%;
            border-radius: 5%;
            width: 35%;
            height: 35%;
            background-color: rgb(223, 221, 229);
            justify-content: stretch;

            legend {
                font-weight: bold;
                font-size: x-large;
                width: 60%;
            }

            &__label {
                font-weight: lighter;
            }

            span {
                background-color: $color-primary;
            }

            &__selectVuelo {
                background-color: $color-secondary;
                border-radius: 6%;
                padding: 1%;

                span {
                    border-radius: 7%;
                    padding: 1%;
                    background-color: $color-secondary;
                }
                span:hover{
                    cursor: pointer;
                }
            }
            &__selectCountry{
                width: 80%;
                height:20%;
                margin-top: 1%;
                .form__selectOrigin, .form__selectDestination{
                    width: 50%;
                }


            }
            &__inputsDate{
                width: 80%;
                margin-top: 1%;

                .form__inputSalida, .form__inputRegreso{
                    background-color: $color-secondary;
                }
            }
            &__selectPassengers{
                margin-top: 1%;
            }
            &__button {
                margin-top: 1%;
                background-color: $color-primary;
                @include button ($backgroundc: $color-primary, $colorletra: white, $pixel: 80%)
            }
        }

    }
    &__pay{
        width: 66%;
        gap: 5%;
        h2{
            @include h2Cards();
        }
        &__container{
            display: flex;
            justify-content: flex-start;
            gap: 35%;
            border-radius: 15px;
            box-shadow: 0.5px 2px 5px 5px rgb(238, 233, 233);
            padding: 1.5%;
            align-items: center;
            &__cards{
                gap: 10%;
                display:flex;
                flex-direction: column;
                justify-content:flex-start;
                padding: 1%;
                
                img{
                    width: 25%;
                }
                span {
                    width: 110%;
                    font-size: small;
                    font-weight: lighter;
                    padding-bottom: 0.4%;
                }
            }
        }
    }

    &__containerCards {
        display: flex;
        width: 66%;
        justify-content: space-around;
        h2{
            @include h2Cards();
        }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 85%;
            padding: 4% 2% 2% 2%;
            img{
                // width: 80%;
                width:3em;
            }
            .cardTittle{
                font-size: small;
            }
            .cardP{
                font-size: small;
                font-weight: lighter;
                text-align: center;
            }
            
        }
    }

}